<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">

    <style>
        .result {
            display: flex;
            flex-direction: column;
            align-items: self-start;
        }
    </style>
</head>

<body>
    <div class="result" id="container-login">
        <span><b>Lab:</b> {{laboratorio}}</span>
        <span><b>Data:</b> {{data}}</span>
        <span><b>Horario:</b> {{horario}}</span>
        <span><b>Quantidade:</b> {{quantidade}}</span>
        <span><b>Programas necessarios:</b> {{programa}}</span>
    </div>
</body>

</html>