<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
  <link rel="stylesheet" href="/static/css/login.css">
  <style>
    /* Estilos CSS */
    .form-container {
      max-width: 300px;
      margin: 0 auto;
    }

    .form-container label,
    .form-container input,
    .form-container button {
      display: block;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="container-login">
    <h1>Reservar laboratório</h1>
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
    <div id="alerta">
      {{mensagens[0]}}
    </div>
    {% endif %}
    <form action="login" method="post">
      <section id="login">
        <label for="laboratorio">Laboratório:</label>
        <select name="laboratorio" id="laboratorio">
          <option value="Laboratório de Pesquisa">Laboratório de Pesquisa</option>
          <option value="Laboratório de Estudo">Laboratório de Estudo</option>
        </select>
        <label for="data">Data:</label>
        <input type="date" name="data" id="data">
        <label for="horario">Horário:</label>
        <input type="time" name="horario" id="horario">
        <label for="quantidade">Quantidade de Alunos:</label>
        <input type="number" name="quantidade" id="quantidade" min="1">
        <label for="programa">Programa Específico:</label>
        <input type="text" name="programa" id="programa">
        <button type="submit">Agendar</button>
      </section>
    </form>
  </div>

</body>

</html>